main
{
    padding-bottom: 0;
}

main section:last-child
{
    padding-bottom:40px;
}

main section:first-child {
    padding-top: 0;
}


.itemBlog figure,
.itemBlog figure img
{
    width: 100%;
}

#encuentraEntrada  h1
{
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

#encuentraEntrada form
{
    flex-direction: column;
}

#encuentraEntrada form select,
#encuentraEntrada form input
{
    margin-bottom: 15px;
}

#encuentraEntrada form input[type="submit"]
{
    margin-left: 0;
}

#listaprogramas
{
    border-top:1px solid #D1D1D1;
    padding-top: 80px;
    padding-bottom:0px;
}

.itemBlog
{
    margin-bottom: 80px;
}

    .itemBlog > h3
    {
        color:#BC082F;
        font-family: 'Libre Baskerville', serif;
        margin-bottom:35px;
    }

    .itemBlog > p
    {
        margin-bottom:20px;
    }

    .itemBlog .categoria
    {
        border-bottom:1px solid #D1D1D1;
        margin-bottom:20px;
    }

        .itemBlog .categoria p,
        .itemBlog .categoria h3

        {
            margin:0;
            padding:0;
        }

        .itemBlog .categoria h3
        {
            color: #0F2749;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
        }

        .itemBlog .categoria .flecha
        {
            margin-bottom: 5px;
            font-style: italic;
        }

    .itemBlog button
    {
        width: 100%;
    }


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px){

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){

    main section
    {
        margin-top:0;
        padding-top: 0;
    }

    main section:first-child
    {
        padding-top:75px;
    }

    main section:last-child
    {
        padding-bottom:80px;
    }


    section#imgTop
    {
        height: 200px;
        margin-bottom: 0;
        padding: 0;
    }

    #listaprogramas
    {
        border-top:0;
    }

    .itemBlog button
    {
        width: 35%;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px){

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){

}
