@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../fonts/AvenirNextLTPro-Bold.eot');
	src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
		url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
		url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}