/********GALERÍA HOME********/

#galeriaHome
{
    background: black;
    display: none;
    width: 100%;
    margin-bottom:140px;
    padding:0;
}

    #galeriaHome .carousel-indicators
    {
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }

        #galeriaHome .carousel-indicators li
        {
            display: inline-block;
            width: 10px;
            height: 10px;
            max-width: 10px;
            margin: 1px;
            text-indent: -999px;
            border: 1px solid #fff;
            border-radius: 10px;
            cursor: pointer;
            background-color: #000\9;
            background-color: transparent;
        }

        #galeriaHome .carousel-indicators li.active
        {
            background: white;
        }
        
        #galeriaHome .carousel-inner
        {
            height: 400px;
            width: 100%;
        }
        
            #galeriaHome .carousel-inner .carousel-item
            {
                 
                height: 400px;
                width: 100%;
                
                
            }

            #galeriaHome .carousel-inner #caruselUno
            {
                background: url(../img/home/slider/budapest.jpg) center center;
                background-size: cover;
            }
    
            #galeriaHome .carousel-inner #caruselDos
            {
                background: url(../img/home/slider/montreal.jpg) center center;
                background-size: cover;    
            }

            #galeriaHome .carousel-inner #caruselTres
            {
                background: url(../img/home/slider/roma.jpg) center center;
                background-size: cover;   
            }

            #galeriaHome .carousel-inner #caruselCuatro
            {
                background: url(../img/home/slider/tailandia.jpg) center center;
                background-size: cover;      
            }

            #galeriaHome .carousel-inner #caruselCinco
            {
                background: url(../img/home/slider/tailandia2.jpg) center center;
                background-size: cover;
            }

/********END - GALERÍA HOME********/

/********BUSCADOR PROGRAMAS********/
#buscadorProgramas
{
    background: #d1d1d1;
    display: flex;
    flex-direction: column;
    padding: 14px;
    margin-bottom: 50px;
}

#buscadorProgramas select
{
    margin-bottom: 10px;
    font-size: 14px;
}

#buscadorProgramas input[type="submit"]
{
    margin-right:0
}

#buscadorProgramas form
{
    flex-direction: column;
}
/********END - BUSCADOR PROGRAMAS********/

/********QUE ES LIVE AND LEARN********/
#queEsLiveAndLearn p
{
    text-align: center
}
/********END - QUE ES LIVE AND LEARN********/

/********BUSCAR PROGRAMA********/
#buscarProgramas
{
    background: #0f2749;
    padding-bottom:30px;
    padding-top:30px;
}

    #buscarProgramas h2
    {
        color: white;
        font-size: 18px;
        margin-bottom:30px;
    }

    #buscarProgramas form
    {
        flex-direction: column;
    }
        
#buscarProgramas form select
{
    margin-bottom:10px;
    font-size:14px;
}
/********END - BUSCAR PROGRAMA********/

/********PROGRAMAS********/
#programas
{
    background: #e2e2e2;
    padding-bottom:25px;
    padding-top:25px
}

    #programas .prograCarrusel
    {
        background: #d1d1d1;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.5);
        box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.5);
        margin: 0 auto;
        width: 80%;
    }

    #programas .prograCarrusel h3
    {
         color:#bc082f;
         font-weight: bold;
         font-size: 18px;
         margin-bottom:0;
         padding:12px 12px 0 12px;
    }

    #programas .prograCarrusel h4
    {
        font-weight: bold;
        font-size: 12px;
        margin-bottom:0;
        padding:0 12px 12px 12px;
        text-transform: uppercase;
    }

    #programas .infoPromocion
        {
            border:1px solid #e2e2e2;
            background: white;
            padding:15px 0;
        }

            #programas .infoPromocion button
            {
                width: 94%;
                display: block;
                margin: 15px auto 0 auto;
            }

            #programas .infoPromocion h4
            {
                color:#bc082f;
                font-size: 18px;
                font-weight: bold;
                padding:0 10px;
            }

            #programas .infoPromocion li
            {
                border-bottom: 1px solid #e2e2e2;
                padding:3px 10px;
            }

            #programas .infoPromocion p
            {
                font-style: italic;
                font-size: 12px;
                padding: 10px;
            }

#programas .infoPromocion .fa
{
    color:#bc082f;
    margin-right:10px;
}

/********END - PROGRAMAS********/



/********PROMOCIONES********/
#promociones
{
    margin-top:60px;
}

        #promociones .promoCarrusel
        {
            margin:0 auto;
            width: 80%;
        }

            #promociones .promoCarrusel h3
            {
                background: #e2e2e2;
                font-weight: bold;
                font-size: 14px;
                margin-bottom:0;
                padding:12px;
                text-transform: uppercase;
            }

        .activeCarrusel .owl-nav
        {
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            width: 100%;
        }

            .activeCarrusel .owl-nav .owl-prev,
            .activeCarrusel .owl-nav .owl-next
            {
                display: inline-block;
                height: 62px;
                width: 34px;
            }

            .activeCarrusel .owl-nav .owl-prev
            {
                margin-left:-4%;
                background: url(../img/home/flechaIzq.png);
            }

            .activeCarrusel .owl-nav .owl-next
            {
                background: url(../img/home/flechaDer.png);
                float: right;
                margin-right:-3%;
            }

        #promociones .infoPromocion
        {
            border:1px solid #e2e2e2;
            padding:15px 0;
        }

            #promociones .infoPromocion button
            {
                width: 94%;
                display: block;
                margin: 15px auto 0 auto;
            }

            #promociones .infoPromocion h4
            {
                color:#bc082f;
                font-size: 18px;
                font-weight: bold;
                padding:0 10px;
            }

            #promociones .infoPromocion li
            {
                border-bottom: 1px solid #e2e2e2;
                padding:3px 10px;
            }

#promociones .infoPromocion .fa
{
    color:#bc082f;
    margin-right:10px;
}

/********END - PROMOCIONES********/

/********OPINION********/
#opinion
{
    display: none;
}

#opinion p
{
    margin:0;   
}

#opinion hr
{
    border-top:1px solid #bc082f; 
    margin: 15px 0;
    width: 40px;
}

#opinion .infoEstudiante
{
     color: #bc082f;
     font-style: italic;
}

#opinion .nombreEstudiante
{
    color: #bc082f;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
/********END - OPINION********/

/********COMPLETA EXPERIENCA********/
#completaExperiencia
{    
    background: #e2e2e2;
    padding:60px 30px; 
}

    #completaExperiencia h4
    {
        font-size: 18px;
        margin-top:10px;
        margin-left:20px;
    }

    #completaExperiencia .col-md-3
    {
        display: flex;
        align-items: center;
        margin:15px 0;
    }

/********END - COMPLETA EXPERIENCA********/

/********ENTRADAS DE BLOG********/

#entradasBlog
{
    padding-top:60px
}

#entradasBlog .item
{
    margin:0 auto;
    width: 80%;
}

    #entradasBlog .item img
    {
        display: none;
        width: 100%;
    }

    #entradasBlog .infoItem
    {
        background: #bc082f;
        color:white;
        padding:15px;
    }

        #entradasBlog .infoItem button
        {
            border: 1px solid white;
            margin-top:24px;
            width: 100%;
        }

        #entradasBlog .infoItem h4,
        #entradasBlog .infoItem .tipo
        {
            border-bottom: 1px solid white;
        }
        
        #entradasBlog .infoItem h4
        {
            font-size: 18px;
            font-weight: bold;
            padding-bottom:10px;
        }

        #entradasBlog .infoItem .tipo
        {
            margin:0;
            padding-bottom:8px;
        }

        #entradasBlog .infoItem .fecha
        {
            font-style: italic;
            font-size: 14px;
            margin:0;
            margin-top: 5px;
            padding:0;
        }

/********END - ENTRADAS DE BLOG********/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px){ 
    .activeCarrusel .owl-nav
    {
        display: block;
    }
    
    #promociones .promoCarrusel,
    #programas .prograCarrusel,
    #entradasBlog .item
    {
        margin:0;
        width:100%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){
    #galeriaHome
    {
        display: block;
    }
    
    #buscarProgramas form
    {
        flex-direction: row;
    }
    
        #buscarProgramas form select
        {
            flex-grow: 2;
        }
    
        #buscarProgramas form input[type="submit"]
        {
             flex-grow: 1;
        }
    
    #buscarProgramas h2
    {
        color: #0f2749;
        flex-direction: row;
        font-weight: bold;
        margin: 0;
        padding:10px 0 10px 0;
    }
    
    #buscarProgramas .col-md-auto
    {
        background: white;
    }
    
    #completaExperiencia .col-md-3
    {
        border-right: 1px solid #0f2749;
        flex-direction: column;
        margin:0;
        text-align:center;
    }
    
        #completaExperiencia .col-md-3:last-child
        {
             border-right:none;
        }
    
    #buscadorProgramas
    {
        position: absolute;
        left:0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 10;
        background: transparent;
    }
    
        #buscadorProgramas form
        {
            background: white;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            margin-top: -170px;
            padding:5px;
        }
    
        #buscadorProgramas form select
        {
            margin-right: 10px;
        }
    
    #verProgramas form
    {
        flex-direction: row;
    } 
    
    #opinion
    {
        display: block;
    }
    
    #opinion .opinionEstudiante
    {
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    
    #opinion .opinionEstudiante img
    {
        width: 250px;
    }
    
         #opinion .opinionEstudiante div
        {
            flex-grow: 2;
            margin-left: 30px;
        }
    
    #entradasBlog .item
    {
        margin:0;
        width: 100%;
    }
    
    #entradasBlog .item img
    {
        display: block;
    }

    #completaExperiencia h4
    {
        margin-left: 0;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px){
     .activeCarrusel .owl-nav .owl-prev
     {
        margin-left:-5%;
     }

     .activeCarrusel .owl-nav .owl-next
     {
        margin-right:-4%;
     }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
    
}
