main
{
    padding-bottom: 0;
}

main section:last-child
{
    padding-bottom:70px;
}


        #buscarPaquete
        {
            align-items: center;
            border-top:1px solid #bc082f;
            background: #d1d1d1;
            display: flex;
            padding-bottom:30px;
            width: 100%;
        }

            #buscarPaquete form
            {
                flex-direction: column;
            }

            #buscarPaquete form select,
            #buscarPaquete form input[type="submit"]
            {
                margin:10px
            }

            #buscarPaquete hgroup
            {
                background: #d1d1d1;
                display: inline-block;
                padding: 12px;
                text-align: center;
                width: 100%;
            }

                #buscarPaquete hgroup h1
                {
                    color:#bc082f;
                    font-family: 'Raleway', sans-serif;
                    font-size: 25px;
                    font-weight: bold;
                    margin:0;
                    padding:0;
                    text-transform: uppercase;
                }

                #buscarPaquete hgroup h2
                {
                    font-size: 25px;
                    margin-bottom:0;
                }

            #buscarPaquete h3
            {
                font-size: 18px;
                margin-bottom:25px;
                text-align: center;
            }

            #buscarPaquete ul
            {
                padding:8px;
            }
                #buscarPaquete ul .fa
                {
                    color: #bc082f;
                    margin-right:10px;
                }

                #buscarPaquete ul li
                {
                    border-bottom: 1px solid #0f2749;
                    margin-bottom:5px;
                    font-style: italic;
                }

            #buscarPaquete .datosprecio
            {
                display: flex;
            }

            #buscarPaquete .infoPaquete
            {
                background: #d1d1d1;
                display: block;
                padding:14px;
            }

            #buscarPaquete .row
            {
                align-items: center;
                display: flex;
                flex-direction: column;
            }
/*******END - DATOS DE PAQUETE*********/


/*******VENTAJAS*********/

#ventajas div
{
    text-align: center;
    margin-bottom:40px;
}

        #ventajas div .col-auto
        {
            display: flex;
            width: 80%;
            align-items: center;
        }


#ventajas h3
{
    font-size: 18px;
    margin:0 auto;
    width: 80%;
}


#ventajas .row
{
    display: flex;
    flex-direction: column;
}

/*******END - VENTAJAS*********/

/*******VENTAJAS DE ESTUDIAR*********/
#ventajasEstudiar
{
   text-align: center;
    margin-top:90px;
}

/*******END - VENTAJAS DE ESTUDIAR*********/

#elige h3
{
    color:#BC082F;
}

#tipoCursos .tiposCursosItems,
#destacados .row
{
    padding-left: 15px;
    padding-right: 15px;
}

#tipoCursos .tiposCursosItems h3
{
    color:#BC082F;
    padding-bottom:0;
}

#tipoCursos .tiposCursosItems h4
{
    background: #d1d1d1;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-bottom:0;
    padding-top:3px;
    padding-left:12px;
    padding-bottom:10px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px){

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){

    #imgTop
    {
        margin-bottom: 0;
    }

    #ventajas
    {
        width: 850px;
    }

        #ventajas div
        {
            margin: 0;
        }

            #ventajas div img
            {
                margin-bottom:20px;
            }

             #ventajas div .col-auto
            {
               flex-direction: column;
                width: auto;
            }

        #ventajas .row
        {
            flex-direction: row;
        }

    #ventajasEstudiar h1
    {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #tipoCursos .item,
    #destacados .item
    {
        width: 22%;
        margin:0 10px;
    }

    #tipoCursos .tiposCursosItems,
    #destacados .tiposCursosItems
    {
        justify-content: center;
        display: flex;
    }

    #buscarPaquete
    {
        align-items: center;
        background: transparent;
        border-top:0;
        display: inline;
        margin-top: -284px;
        padding-bottom:20px;
        text-align: left;
        position: absolute;
        z-index: 10;
    }

    #buscarPaquete h3
    {
        text-align: left;
        margin-left:12px;
        margin-bottom:0;
    }

    #buscarPaquete form
    {
        flex-direction: row;
    }

    #buscarPaquete hgroup
    {
        border-bottom:1px solid #ddd;
        margin-bottom:10px;
    }

    #buscarPaquete hgroup h1
    {
        font-size: 30px;
        text-align: left;
    }

    #buscarPaquete hgroup h2
    {
        text-align: left;
    }

        #buscarPaquete hgroup,
        #buscarPaquete .infoPaquete
        {
            background: white;
        }

        #buscarPaquete ul li
        {
            border-bottom:1px solid #d1d1d1;
        }

        #buscarPaquete .infoPaquete
        {
            float: right;
        }

        #buscarPaquete .col-md-6
        {
            background: white;
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
            width: auto;
        }

    #buscarPaquete .row
    {
        align-items: flex-start;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px){

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
    #listaprogramas .item
     {
         width: 220px;
     }
}
