h1
{
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

h1 strong
{
    text-transform: uppercase;
}

h1 .fa
{
    display: none;
    margin-right:15px;
}

main section
{
    padding-bottom:0;
}
/*******ENCUENTRA PROGRAMA*********/

#encuentraPrograma button
{
    background:#0f2749;
    color:white;
    margin-bottom:10px;
    padding-bottom:7px;
    padding-top:7px;
    width: 100%;
}

#encuentraPrograma h1
{
    color: #bc082f;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

#encuentraPrograma form
{
    flex-direction: column;
    width: 100%;
    margin-bottom:50px;
}

    #encuentraPrograma form select
    {
        margin-bottom:10px;
    }

    #encuentraPrograma form input[type="submit"]
    {
        margin-left:0;
    }

/*******END - ENCUENTRA PROGRAMA*********/

/*******LISTA PROGRAMAS*********/

#listaprogramas
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom:0;
    padding-top:0;
}

/****************END -  LISTA PROGRAMAS************************/


/****************ENTRADAS BLOG************************/

#entradasBlog h1
{
    color:#D1D1D1;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

 #entradasBlog .item img
{
    display: block;
}

/****************ENTRADAS BLOG************************/

#ordenarProgramas
{
    margin-top:35px;
    padding:0;
    width: 100%;
}

    #ordenarProgramas p
    {
        text-align:center;
    }

    #ordenarProgramas span
    {
        color:#102749;
        cursor: pointer;
        text-decoration: underline;
    }

    #ordenarProgramas span.active
    {
        color:#bc082f;
    }



/*******END - LISTA PROGRAMAS*********/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px){

         h1 .fa
         {
            display: inline;
            font-size: 40px;
         }

         #listaprogramas .item
         {
             width: 45%;
         }

        #entradasBlog h1
        {
            font-size: 30px;
        }

        #entradasBlog .col-sm-2
        {
            flex:0 1 auto;
            width: 50%;
            max-width: 50%;
        }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){

        #entradasBlog .col-sm-2
        {
            flex:0 1 auto;
            max-width: 25%;
            width: 25%;
            align-items: stretch;
            align-content: stretch;
        }

        #listaprogramas h1 .fa
        {
            font-size: 50px;
        }

        #ordenarProgramas
        {
            margin-top:0;
        }

        #ordenarProgramas p
        {

            text-align:right;
        }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px){

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
     #listaprogramas .item
     {
         width: 220px;
     }
}
